.message-container {

    width:400px;
    height: 500px;
    border: 1px solid darkgray;
    overflow-y: scroll;

}

.messages-section
{

    margin-left:30px;

}

.current{
    color: cornflowerblue;
    margin-left: 20px;
    font-weight: bold;
}

.other{

    color: green;
    margin-left: 10px;
    font-weight: bold;
}

.msg-edit-sm, .msg-submit-sm{
padding:0 5px 0 5px;
margin-left: 10px;
box-shadow:0 0;

}

.message-input{

    width: 300px;
}

.messageField{

    display: flex;
    flex-direction: row;
}

.msg-submit{
margin-left: 10px;

}

